language: node_js
node_js:
  - "node"
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.9.4
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - yarn install
script:
  - yarn run build --prod
cache:
  yarn: true
  directories:
    - "node_modules"
notifications:
  email:
    on_success: never
    on_failure: always
