page-weather {
  .weather-header {
    &.header-md::after {
      display: none;
    }
    .toolbar {
      .toolbar-background {
        border-bottom: none;
        background-color: transparent;
      }
    }
  }
  ion-content.content {
    color: #ffffff;
    &.CLEAR_DAY {
      background: linear-gradient(50deg, #849ee1, #a2b9ee);
    }
    &.CLEAR_NIGHT {

    }
    &.PARTLY_CLOUDY_DAY {

    }
    &.PARTLY_CLOUDY_NIGHT {

    }
    &.CLOUDY {
      background: linear-gradient(45deg, #424242, #b5b5b5);
    }
    &.RAIN {

    }
    &.SNOW {

    }
    &.WIND {

    }
    &.HAZE {

    }
  }
  .container {
    section.head {
      h1 {
        font-size: 72px;
        font-weight: 200;
        small {
          font-size: 24px;
        }
      }
    }
    section.detail {
      div.cards {
        overflow-x: scroll;
        white-space: nowrap;
        div.card {
          padding: 12px 24px;
          display: inline-block;
          text-align: center;
          background: #ffffff;
          border-radius: 5px;
          color: #181818;
          margin-right: 8px;
          &:last-of-type {
            margin-right: 0;
          }
          i {
            display: block;
            font-size: 30px;
          }
          p {
            margin: 6px 0 4px;
          }
        }
      }
    }
  }
  div.back-big-icon {
    position: fixed;
    right: -15vw;
    top: -15vw;
    i.weather-icon {
      font-size: 60vw;
      opacity: 0.5;
    }
  }
}
