<ion-header class="weather-header">
  <ion-navbar>
    <button ion-button icon-only menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title>Home</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="realtime?.skycon">
  <div class="back-big-icon">
    <i *ngIf="realtime" [class]="'weather-icon single-color '+realtime.skycon"></i>
  </div>
  <ng-container *ngIf="realtime?.skycon === 'RAIN'">
    <i *ngFor="let i of rainDrops" class="rain"></i>
  </ng-container>
  <div class="container" padding-horizontal>
    <ng-container *ngIf="realtime && forecast">
      <section class="head">
        <h1>
          {{realtime.temperature}}°
          <small>{{realtime | translateSkycon}}</small>
        </h1>
        <p>
          {{forecast.hourly.description}}
          <br>
          {{forecast.forecast_keypoint}}
        </p>
      </section>
      <section class="detail">
        <div class="cards">
          <div class="card">
            <i class="weather-icon humidity"></i>
            <p>
              湿度<br>
              {{realtime.humidity}}
            </p>
          </div>
          <div class="card">
            <i class="weather-icon cloudrate"></i>
            <p>
              云量<br>
              {{realtime.cloudrate}}
            </p>
          </div>
          <div class="card">
            <i class="weather-icon wind-speed"></i>
            <p>
              风速<br>
              {{realtime.wind.speed}}
            </p>
          </div>
          <div class="card">
            <i class="weather-icon wind-direction"></i>
            <p>
              风向<br>
              {{realtime.wind.direction}}
            </p>
          </div>
        </div>
      </section>
    </ng-container>
  </div>
</ion-content>
