<ion-content>
  <div class="back-big-icon">
    <i *ngIf="realtime" [class]="'weather-icon single-color '+realtime.skycon"></i>
  </div>
  <div>
    <button ion-button clear menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
  </div>
  <div class="container" padding-horizontal>
    <ng-container *ngIf="realtime && forecast">
      <div class="head">
        <h1>
          {{realtime.temperature}}°
          <small>{{realtime | translateSkycon}}</small>
        </h1>
        <p>
          {{forecast.forecast_keypoint}}
        </p>
      </div>
    </ng-container>
  </div>
</ion-content>
