<ion-header class="weather-header">
  <ion-navbar>
    <button ion-button icon-only menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title>Home</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="realtime?.skycon">
  <div class="back-big-icon">
    <i *ngIf="realtime" [class]="'weather-icon single-color '+realtime.skycon"></i>
  </div>
  <div class="container" padding-horizontal>
    <ng-container *ngIf="realtime && forecast">
      <section class="head">
        <h1>
          {{realtime.temperature}}°
          <small>{{realtime | translateSkycon}}</small>
        </h1>
        <p>
          {{forecast.hourly.description}}
          <br>
          {{forecast.forecast_keypoint}}
        </p>
      </section>
      <section class="detail">
        <div class="cards">
          <div class="card">

          </div>
        </div>
      </section>
    </ng-container>
  </div>
</ion-content>
